body{    background-image:url('https://m.vicdream.co.kr/web/product/big/201812/959dec374709af18967fbfa982411269.jpg');
    background-attachment: fixed;}
article{margin-top: 15%; text-align: center;}
p{font-family: 'Yeon Sung', cursive; font-size: 23px;}